# @@@ START COPYRIGHT @@@
#
# (C) Copyright 2014 Hewlett-Packard Development Company, L.P.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#
# @@@ END COPYRIGHT @@@

# Configuration file for the Trafodion Scanner
#
# 1. Specification format for Configuration Gathering is:
#    <configuration item> ::: <description> ::: <command>
#
#    <configuration item> must be set to CONFIGURATION_DUMP.
#    <description> is an English description for the configuration item.
#    <command> is the configuration gathering command to execute. This command will be executed
#              on each node specified by the trafodion_scanner --nodes parameter.
#
# 2. Specification format for Configuration Checks is:
#    <configuration item> ::: <description> ::: <expected value> ::: <comparison operator> ::: <command>
#
#    <configuration item> is a short identifier for the configuration item. The identifier CONFIGURATION_DUMP
#                         is reserved for Configuration Gathering.
#    <description> is an English description for the configuration item.
#    <expected value> is the expected value for the configuration item.
#    <comparison operator> is the operator to use for comparison of the <expected value> and <command> output. 
#                          There are two types of operators: for string comparison and integer comparison. 
#                          The available operators for string comparison are: str_lt, str_le, str_eq, str_ne, str_ge, str_gt.
#                          The available operators for integer comparison are: int_lt, int_le, int_eq, int_ne, int_ge, int_gt.
#                          Here is the meaning for each operator: lt means "less than", le means "less than or equal", 
#                          eq means "equal", ne means "not equal", ge means "greater than or equal", gt means "greater than".
#                          The operator will be applied as follows: <expected value> <comparison operator> <command> output,
#                          for example: <expected value> int_le <command> output.
#    <command> is the configuration check command to execute. This command will be executed
#              on each node specified by the trafodion_scanner --nodes parameter.
#
# 3. A line with comments must start with a '#' character.
#

### Configuration Gathering ###

CONFIGURATION_DUMP ::: Number Of Cores ::: grep -c '^processor' /proc/cpuinfo

CONFIGURATION_DUMP ::: GB Of Total Physical Memory ::: grep MemTotal /proc/meminfo  | awk '{printf ("%d",$2/(1024*1024)) }'

CONFIGURATION_DUMP ::: Linux Distribution ::: lsb_release -a

CONFIGURATION_DUMP ::: Ulimit Information ::: ulimit -a

CONFIGURATION_DUMP ::: Uname Information ::: uname -a

CONFIGURATION_DUMP ::: Network Configuration ::: ip addr show

CONFIGURATION_DUMP ::: Available Filesystems ::: df -h

CONFIGURATION_DUMP ::: Installed RPMs ::: rpm -qa | sort

CONFIGURATION_DUMP ::: Java Version ::: java -version

### Configuration Checks ###

HardwarePlatform ::: Supported Hardware Platform ::: x86_64 ::: str_eq ::: uname -i

MinNumCores ::: Minimum Number Of Cores ::: 2 ::: int_le ::: grep -c '^processor' /proc/cpuinfo

MinGBTotalPhysicalMemory ::: Minimum GB Total Physical Memory ::: 16 ::: int_le ::: grep MemTotal /proc/meminfo  | awk '{printf ("%d",$2/(1024*1024)) }'

LinuxDistro ::: Supported Linux Distribution ::: 0 ::: int_ne ::: lsb_release -a | grep -c -e 'Red' -e 'CentOS'

ValidNodeName ::: Valid Node Name ::: 0 ::: int_eq ::: hostname -s | grep -c -e [A-Z] -e [\.\,\!\@\~\%\^\&\*\+\=\:\;\<\>\?\/] -e [\']

ntpdServiceRunning ::: ntpd service is running ::: 0 ::: int_ne ::: service ntpd status | grep -c 'is running'

iptablesFirewallNotEnabled ::: iptables firewall is not enabled ::: enabled ::: str_ne ::: if sudo -n service iptables status | grep -q 'is not running'; then echo notEnabled; elif sudo -n service iptables status | grep -q '^[0-9]'; then echo enabled; else echo notEnabled; fi
