# Define some default values that can be overridden by system properties
trafodion.root.logger=INFO, udrAppender
trafodion.log.dir=${MY_SQROOT}/logs
trafodion.log.filename.suffix=${TRAFODION_LOG_FILENAME_SUFFIX}

# Define the root logger to the system property "trafodion.root.logger".
log4j.rootLogger=${trafodion.root.logger}

# Logging Threshold
log4j.threshhold=ALL

#
# Rolling File Appender
#
log4j.appender.udrAppender=org.apache.log4j.RollingFileAppender
log4j.appender.udrAppender.file=${trafodion.log.dir}/udr${trafodion.log.filename.suffix}
log4j.appender.udrAppender.maxFileSize=100000000
log4j.appender.udrAppender.maxBackupIndex=1
log4j.appender.udrAppender.addPid=false
log4j.appender.udrAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.udrAppender.layout.ConversionPattern=%d, %p, %c, %m%n
log4j.appender.udrAppender.Append=true

#UDR
log4j.logger.SQL.UDR=INFO, udrAppender