# log4cpp configuration for Trafodion 

trafodion.log.dir=${MY_SQROOT}/logs
#trafodion.log.dir=.

#Root category
log4j.rootCategory=INFO

#####
#Custom categories and their appenders go here...
#####


#TM
log4j.category.TM=ERROR, tmAppender

log4j.appender.tmAppender=org.apache.log4j.RollingFileAppender
log4j.appender.tmAppender.fileName=${trafodion.log.dir}/tm
log4j.appender.tmAppender.maxFileSize=100000000
log4j.appender.tmAppender.maxBackupIndex=1
log4j.appender.tmAppender.addPid=false
log4j.appender.tmAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.tmAppender.layout.ConversionPattern=%d, %p, %c, %m%n
log4j.appender.tmAppender.Append=true

