#
# @@@ START COPYRIGHT @@@
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# @@@ END COPYRIGHT @@@
#

# Define some default values that can be overridden by system properties
trafodion.log.dir=${TRAF_LOG}
trafodion.log.filename.suffix=${TRAFODION_LOG_FILENAME_SUFFIX}

# Logging Threshold
log4j.threshhold=ALL

#
# Rolling File Appender
#
log4j.appender.psdAppender=org.apache.log4j.RollingFileAppender
log4j.appender.psdAppender.file=${trafodion.log.dir}/pstartd${trafodion.log.filename.suffix}
log4j.appender.psdAppender.maxFileSize=100000000
log4j.appender.psdAppender.maxBackupIndex=1
log4j.appender.psdAppender.addPid=false
log4j.appender.psdAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.psdAppender.layout.ConversionPattern=%d, %p, %c, %m
log4j.appender.psdAppender.immediateFlush=true
log4j.appender.psdAppender.Append=true

log4j.additivity.psdAppender=false 

# Foundation Monitor - Process Startup Daemon
log4j.logger.PSD=INFO,psdAppender
