# log4cpp configuration for Trafodion 

trafodion.log.dir=${MY_SQROOT}/logs
#trafodion.log.dir=.

#Root category
log4j.rootCategory=INFO

#####
#Custom categories and their appenders go here...
#####

#UDR
log4j.category.SQL.UDR=INFO, udrAppender

log4j.appender.udrAppender=org.apache.log4j.RollingFileAppender
log4j.appender.udrAppender.fileName=${trafodion.log.dir}/udr
log4j.appender.udrAppender.maxFileSize=100000000
log4j.appender.udrAppender.maxBackupIndex=1
log4j.appender.udrAppender.addPid=false
log4j.appender.udrAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.udrAppender.layout.ConversionPattern=%d, %p, %c, %m%n
log4j.appender.udrAppender.Append=true

