# Define some default values that can be overridden by system properties
trafodion.root.logger=INFO,  osimAppender1, osimAppender2
trafodion.log.dir=${MY_SQROOT}/logs
trafodion.log.filename.suffix=${TRAFODION_LOG_FILENAME_SUFFIX}

# Define the root logger to the system property "trafodion.root.logger".
log4j.rootLogger=${trafodion.root.logger}

# Logging Threshold
log4j.threshhold=ALL

#
# Console Appender
#
log4j.appender.osimAppender1=ConsoleAppender
log4j.appender.osimAppender1.layout=PatternLayout
log4j.appender.osimAppender1.layout.ConversionPattern=%d [%p] %m%n

#
# Rolling File Appender
#
log4j.appender.osimAppender2=org.apache.log4j.RollingFileAppender
log4j.appender.osimAppender2.file=${trafodion.log.dir}/osimlog${trafodion.log.filename.suffix}
log4j.appender.osimAppender2.maxFileSize=100000000
log4j.appender.osimAppender2.maxBackupIndex=1
log4j.appender.osimAppender2.addPid=false
log4j.appender.osimAppender2.layout=org.apache.log4j.PatternLayout
log4j.appender.osimAppender2.layout.ConversionPattern=%d, %p, %c, %m%n
log4j.appender.osimAppender2.append=true

#OSIM
log4j.logger.OSIM=INFO, osimAppender1, osimAppender2


