#
# @@@ START COPYRIGHT @@@
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# @@@ END COPYRIGHT @@@
#

# Configuration file for TDM_UDRSERV process
# Located at $TRAF_CONF/trafodion.udr.config
# Location of property file can be specified through TRAFUDRCFG env variable
# TRAFUDRCFG will override this default implementation of the property file.
# Properties specfied are passed on to the JVM created by the TDM_UDRSERV
# Can be overridden by env variable TRAF_UDR_JAVA_OPTIONS in 
# $TRAF_VAR/ms.env
# Incorrect property values or specification syntax can result in TDM_UDRSERV
# not being able to initialize a JVM.
# Properties must be specified in a section titled "java".
# Section titles are enclosed in "[" paranthesis.
# For example "[java]"
# Each line contains a separate property.
# Optional comments can follow the property if they are preceeded by a ";".
# Maximum allowed length of a line is 1024 characters.
# For example "-Xmx750m ; max java heap size" is valid (without quotes)
# "-Xmx-750m" is valid
# "-Xmx=750m" is not valid
# "-Xmx750m" /* max java heap size */" is not valid
# The end of a section is indicated with the same line as it's title, i.e. 
# "[java]". The line indicating section end is optional
# At present the only section heading TDM_UDRSERV will process is "[java]"
# Place any required property specfication between the section title and
# end below.
[java]

[java]



