# git files
.gitignore export-ignore
.gitattributes export-ignore
# Contains a Damian (GNU) copyright which is not supported, file not used
core/sqf/export/lib/Parse/RecDescent.pm export-ignore
# Remove documentation until until our generation code is available
docs/client_install export-ignore
docs/command_interface export-ignore
docs/odb_manual export-ignore
docs/sql_reference export-ignore
docs/src/site export-ignore
# used for Compiler GUI which we don't support yet
core/sqf/export/limited-support-tools/QPDrawer
core/sql/SqlCompilerDebugger/Resource.qrc
