# see: git help ignore
# Leading slash indicates path is rooted in current dir
# Trailing slash indicates must be directory
/export/bin64/*
/export/lib64/
/export/bin64d/*
/export/lib64d/

# genverhdr
/export/include/SCMBuild*
/export/include/buildId
# dbsecurity
/export/include/auth.h
/export/include/dbUserAuth.h
/export/include/secsrvrmxo.h
# mpi
/export/include/mpi.h
# seamonster
/export/include/sm.h

/export/include/nsk/
/export/include/sql/
/export/lib/mx_ustat/
/export/lib/org/

/opt/
/trafci/

# objects dir occurs in many sub-dirs
Linux-x86_64/

# from sql/scripts/makemsg.ksh
/sql/scripts/SqlciErrors.*
# from dbsecurity
/sql/scripts/sqcertgen
/sql/scripts/update_auth

# install_local_hadoop
/sql/scripts/sw*
/sql/local_hadoop/
/etc/

# get_libhdfs_files
/sql/libhdfs_files/
/export/include/hdfs.h

# sqgen / sqstart
/logs/
/sqcert/
/tmp/

# sql regressions
/rundir/

# hbase_utilities
/hbase_utilities/src/main/resources/
/hbase_utilities/target/

# derived license
/LICENSE
/NOTICE

# bundled component links
/dcs-*
/rest-*
# component default conf files
/conf/dcs
/conf/rest
