/target/
buildId
/target/
classes/
native/Vproc.*
native/org_apache_trafodion_jdbc_t2_*.h
src/main/java/org/apache/trafodion/jdbc/t2/DriverInfo.java
src/main/resources/META-INF/LICENSE
src/main/resources/META-INF/NOTICE
LICENSE
NOTICE
