# log4cpp configuration for Trafodion 

trafodion.log.dir=${MY_SQROOT}/logs
#trafodion.log.dir=.

#Root category
log4j.rootCategory=INFO

#####
#Custom categories and their appenders go here...
#####

#MXOSRVR
log4j.category.MXOSRVR=ERROR, mxoAppender

log4j.appender.mxoAppender=org.apache.log4j.RollingFileAppender
log4j.appender.mxoAppender.fileName=${trafodion.log.dir}/master_exec
log4j.appender.mxoAppender.maxFileSize=100000000
log4j.appender.mxoAppender.maxBackupIndex=1
log4j.appender.mxoAppender.addPid=false
log4j.appender.mxoAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.mxoAppender.layout.ConversionPattern=%d, %p, %c, %m%n

# SQL
log4j.category.SQL=INFO, mxoAppender
log4j.category.SQL.COMP=ERROR
log4j.category.SQL.EXE.Memory=INFO
log4j.category.SQL.ESP=ERROR
#
log4j.category.SQL.HDFS.JniTop=FATAL
log4j.category.SQL.HDFS.SeqFileReader=FATAL
log4j.category.SQL.HDFS.SeqFileWriter=FATAL
log4j.category.SQL.HBase=FATAL



