# Define some default values that can be overridden by system properties
trafodion.root.logger=INFO,  mxoAppender
trafodion.log.dir=${MY_SQROOT}/logs
trafodion.log.filename.suffix=${TRAFODION_LOG_FILENAME_SUFFIX}

# Define the root logger to the system property "trafodion.root.logger".
log4j.rootLogger=${trafodion.root.logger}

# Logging Threshold
log4j.threshhold=ALL

#
# Rolling File Appender
#
log4j.appender.mxoAppender=org.apache.log4j.RollingFileAppender
log4j.appender.mxoAppender.file=${trafodion.log.dir}/master_exec${trafodion.log.filename.suffix}
log4j.appender.mxoAppender.maxFileSize=100000000
log4j.appender.mxoAppender.maxBackupIndex=1
log4j.appender.mxoAppender.addPid=false
log4j.appender.mxoAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.mxoAppendern.layout.ConversionPattern=%d, %p, %c, %m%n

#MXOSRVR
log4j.logger.MXOSRVR=ERROR, mxoAppender

# SQL
log4j.logger.SQL=INFO, mxoAppender
log4j.logger.SQL.COMP=ERROR
log4j.logger.SQL.EXE.Memory=INFO
log4j.logger.SQL.ESP=ERROR
#
log4j.logger.SQL.HDFS.JniTop=FATAL
log4j.logger.SQL.HDFS.SeqFileReader=FATAL
log4j.logger.SQL.HDFS.SeqFileWriter=FATAL
log4j.logger.SQL.HBase=FATAL