# log4cpp configuration for Trafodion 

trafodion.log.dir=${MY_SQROOT}/logs
#trafodion.log.dir=.

#Root category
log4j.rootCategory=INFO

#####
#Custom categories and their appenders go here...
#####

#SSMP
log4j.category.SQL.SSMP=INFO, ssmpAppender

log4j.appender.ssmpAppender=org.apache.log4j.RollingFileAppender
log4j.appender.ssmpAppender.fileName=${trafodion.log.dir}/ssmp
log4j.appender.ssmpAppender.maxFileSize=100000000
log4j.appender.ssmpAppender.maxBackupIndex=1
log4j.appender.ssmpAppender.addPid=false
log4j.appender.ssmpAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.ssmpAppender.layout.ConversionPattern=%d, %p, %c, %m%n
log4j.appender.ssmpAppender.Append=true

