-- @@@ START COPYRIGHT @@@
--
-- (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.
--
--  Licensed under the Apache License, Version 2.0 (the "License");
--  you may not use this file except in compliance with the License.
--  You may obtain a copy of the License at
--
--      http://www.apache.org/licenses/LICENSE-2.0
--
--  Unless required by applicable law or agreed to in writing, software
--  distributed under the License is distributed on an "AS IS" BASIS,
--  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
--  See the License for the specific language governing permissions and
--  limitations under the License.
--
-- @@@ END COPYRIGHT @@@
# log4cxx configuration for QMS

log4j.rootLogger=INFO, rootAppender

log4j.logger.rootAppender=org.apache.log4j.RollingFileAppender
log4j.logger.rootAppender.fileName=qmp.log
log4j.logger.rootAppender.maxFileSize=100000000
log4j.logger.rootAppender.maxBackupIndex=1
log4j.logger.rootAppender.addPid=false
log4j.logger.rootAppender.layout=org.apache.log4j.PatternLayout
log4j.logger.rootAppender.layout.ConversionPattern=%d, %p, %c, %m%n

# qmscommon
log4j.logger.QRCommon=ERROR
log4j.logger.QRCommon.IPC=ERROR
log4j.logger.QRCommon.Memory=INFO
log4j.logger.QRCommon.Range=INFO
log4j.logger.QRCommon.Tracer=ERROR

# QMM
log4j.logger.Qmp=INFO
