-- @@@ START COPYRIGHT @@@
--
-- (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.
--
--  Licensed under the Apache License, Version 2.0 (the "License");
--  you may not use this file except in compliance with the License.
--  You may obtain a copy of the License at
--
--      http://www.apache.org/licenses/LICENSE-2.0
--
--  Unless required by applicable law or agreed to in writing, software
--  distributed under the License is distributed on an "AS IS" BASIS,
--  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
--  See the License for the specific language governing permissions and
--  limitations under the License.
--
-- @@@ END COPYRIGHT @@@
# log4cxx configuration for QMS

log4j.rootLogger=INFO, rootAppender

log4j.appender.rootAppender=org.apache.log4j.RollingFileAppender
log4j.appender.rootAppender.fileName=qms.log
log4j.appender.rootAppender.maxFileSize=100000000
log4j.appender.rootAppender.maxBackupIndex=1
log4j.appender.rootAppender.addPid=false
log4j.appender.rootAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.rootAppender.layout.ConversionPattern=%d, %p, %c, %m%n

# qmscommon
log4j.logger.QRCommon=ERROR
log4j.logger.QRCommon.IPC=ERROR
log4j.logger.QRCommon.Memory=INFO
log4j.logger.QRCommon.Range=INFO
log4j.logger.QRCommon.Tracer=ERROR

# QMS specific
log4j.logger.Qms=ERROR
log4j.logger.Qms.Main=ERROR
log4j.logger.Qms.Init=ERROR
log4j.logger.Qms.MvmemoJoingraph=ERROR
log4j.logger.Qms.MvmemoStats=ERROR
log4j.logger.Qms.LatticeIndex=ERROR
log4j.logger.Qms.MatchTest=ERROR
log4j.logger.Qms.XML=ERROR
