# Define some default values that can be overridden by system properties
hbase.root.logger=INFO,hbaseclient
hbase.log.dir=.
hbase.log.file=trafodion.dtm.log

# Define the root logger to the system property "hbase.root.logger".
log4j.rootLogger=${hbase.root.logger}

# Logging Threshold
log4j.threshhold=ALL

#
# Rolling File Appender
# Uncomment the 'DailyRollingFile Appender to roll the logs daily
# (based on the DatePattern)
log4j.appender.hbaseclient=org.apache.log4j.RollingFileAppender
#log4j.appender.hbaseclient=org.apache.log4j.DailyRollingFileAppender
log4j.appender.hbaseclient.File=trafodion.dtm.log
log4j.appender.hbaseclient.MaxFileSize=64MB
log4j.appender.hbaseclient.MaxBackupIndex=20
log4j.appender.hbaseclient.layout=org.apache.log4j.PatternLayout
log4j.appender.hbaseclient.layout.ConversionPattern=%d{ISO8601} %p %c{2}: %m%n
log4j.appender.hbaseclient.immediateFlush=true
log4j.appender.hbaseclient.Append=true
#log4j.appender.hbaseclient.DatePattern='.'yyyy-MM-dd 

# Custom Logging levels

log4j.logger.org.apache.zookeeper=ERROR
log4j.logger.org.apache.hadoop.hbase=DEBUG
log4j.logger.org.trafodion.dtm=DEBUG

