# log4cpp configuration for QMS

log4j.rootCategory=INFO, rootAppender

log4j.appender.rootAppender=org.apache.log4j.RollingFileAppender
log4j.appender.rootAppender.fileName=qms.log
log4j.appender.rootAppender.maxFileSize=100000000
log4j.appender.rootAppender.maxBackupIndex=1
log4j.appender.rootAppender.addPid=false
log4j.appender.rootAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.rootAppender.layout.ConversionPattern=%d, %p, %c, %m%n

# qmscommon
log4j.category.QRCommon=ERROR
log4j.category.QRCommon.IPC=ERROR
log4j.category.QRCommon.Memory=INFO
log4j.category.QRCommon.Range=INFO
log4j.category.QRCommon.Tracer=ERROR

# QMS specific
log4j.category.Qms=ERROR
log4j.category.Qms.Main=ERROR
log4j.category.Qms.Init=ERROR
log4j.category.Qms.MvmemoJoingraph=ERROR
log4j.category.Qms.MvmemoStats=ERROR
log4j.category.Qms.LatticeIndex=ERROR
log4j.category.Qms.MatchTest=ERROR
log4j.category.Qms.XML=ERROR
