# log4cpp configuration for HDFS access via JNI

log4j.rootCategory=INFO, rootAppender

log4j.appender.rootAppender=org.apache.log4j.RollingFileAppender
log4j.appender.rootAppender.fileName=hdfs.log
log4j.appender.rootAppender.maxFileSize=100000000
log4j.appender.rootAppender.maxBackupIndex=1
log4j.appender.rootAppender.addPid=false
log4j.appender.rootAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.rootAppender.layout.ConversionPattern=%d, %p, %c, %m%n

log4j.category.JniTop=ERROR
log4j.category.SeqFileReader=ERROR
log4j.category.SeqFileWriter=ERROR
log4j.category.HBase=ERROR
