# @@@ START COPYRIGHT @@@
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# @@@ END COPYRIGHT @@@

[tox]
minversion = 1.6
envlist = py27,pep8
skipsdist = True

[testenv]
setenv = VIRTUAL_ENV={envdir}
         LANG=en_US.UTF-8
         LANGUAGE=en_US:en
         LC_ALL=C
         ODBCHOME=TEMPLATE_ODBC_HOME
         CPATH=TEMPLATE_ODBC_HOME/include
         ODBCSYSINI={toxinidir}
         ODBCINI={toxinidir}/odbc.ini
         ODBCINST={toxinidir}/odbcinst.ini
         AppUnicodeType=utf16
         LD_LIBRARY_PATH={toxinidir}/odbc_driver:TEMPLATE_ODBC_LIB
         LIBRARY_PATH={toxinidir}/odbc_driver:TEMPLATE_ODBC_LIB
         TEMPLATE_HTTP_PROXY
         TEMPLATE_HTTPS_PROXY
         TEMPLATE_FTP_PROXY
         
whitelist_externals=
    *
install_command = pip install -U {opts} {packages}
deps = -r{toxinidir}/test-requirements.txt
commands = 
    rm -rf {toxinidir}/.testrepository
    testr init
    testr run {posargs}
    #testr run --parallel --concurrency=6
#sitepackages=True

[testenv:pep8]
commands = flake8

[testenv:py27-ucs2]
commands = {posargs}

[testenv:venv]
commands = {posargs}

[tox:jenkins]
downloadcache = ~/cache/pip

[flake8]
ignore = E126,E202,W602,H302,H402,H231,H233
max-line-length = 125
show-source = True
exclude = .venv,.git,.tox,dist,doc,*lib/python*,*egg,build,tools
