<?xml version="1.0" encoding="utf-8"?>
<!-- @@@ START COPYRIGHT @@@                                                 -->
<!--                                                                         -->
<!-- (C) Copyright 2015 Hewlett-Packard Development Company, L.P.            -->
<!--                                                                         -->
<!-- Licensed under the Apache License, Version 2.0 (the "License");         -->
<!-- you may not use this file except in compliance with the License.        -->
<!-- You may obtain a copy of the License at                                 -->
<!--                                                                         -->
<!--      http://www.apache.org/licenses/LICENSE-2.0                         -->
<!--                                                                         -->
<!-- Unless required by applicable law or agreed to in writing, software     -->
<!-- distributed under the License is distributed on an "AS IS" BASIS,       -->
<!-- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.-->
<!-- See the License for the specific language governing permissions and     -->
<!-- limitations under the License.                                          -->
<!--                                                                         -->
<!-- @@@ END COPYRIGHT @@@                                                   --><configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HP.OneGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HP.OneGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <HP.OneGui.Properties.Settings>
            <setting name="UserSetting" serializeAs="String">
                <value>A user</value>
            </setting>
            <setting name="nciFilename" serializeAs="String">
                <value>C:\Program Files\Hewlett-Packard\NCI 3.0\bin\hpnci.cmd</value>
            </setting>
            <setting name="Setting2" serializeAs="String">
                <value/>
            </setting>
            <setting name="HPDMOpenSaveFileDialogLocation" serializeAs="String">
                <value/>
            </setting>
            <setting name="NCIPromptUser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NCIPromptHost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NCIPromptSchema" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NCIAutoLogon2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NCICustomPrompt" serializeAs="String">
                <value/>
            </setting>
            <setting name="NCIUseCustomPrompt" serializeAs="String">
                <value>False</value>
            </setting>
        </HP.OneGui.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <HP.OneGui.Properties.Settings>
            <setting name="AppSetting" serializeAs="String">
                <value>An App</value>
            </setting>
        </HP.OneGui.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
